
*{margin: 0px; padding: 0px;}

:root{

  --color-1: #EA8E67;
  --color-2: #FFD9B8;
  --color-3: #
  --color-4: #
  --color-5: #
  --color-6: #
}


.root{
  width: 100vw;
  height: 60vh;
  border: 1px dotted black;
}
.root div{
  width:100vw;
  height: 10vh;
  background-color: white;

  display: flex;


}  /*맨 윗 오른쪽 상단*/
.root div div{
  width:50vw;
  height: 10vh;
  background-color: #FFD9B8;
  justify-content: right;
  opacity: 100%;
}
/*맨 윗 왼쪽 상단*/
.root div ol{
  width: 50vw;
  height: 10vh;
  background-color:#FFD9B8;
  justify-content: left;
  display: flex;
}
/*맨 윗 왼쪽 폰트*/
.root div li{
  margin: 10px;
  list-style: none;
  color: #854500;
}
/*맨 윗 오른쪽  폰트*/
.root div p{
  margin: 10px;
  justify-content: right;
  color:#854500
}

/*윗쪽 두번째 상단*/

.root main{
  width: 100vw;
  height: 10vh;
  display: flex;
}

.root main div{
  width: 33.3vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.root main input{
  width: 15vw;
  height: 6vh;
  display: flex;
  align-items: start;
  justify-content: end;
}

.root main button{
  width: 5vw;
  height: 6vh;
  border-radius: 30px;

  margin: 7px;
}
/*윗쪽 세번째 상단*/
.root span {
  width: 100vw;
  height: 10vh;


  display: flex;
  line-height: 2;
}

.root span p {
  width: 25vw;
  height: 4vh;
  color: #854500;
  border-radius: 10px;
  text-align: center;
  list-style-type: none;
}
/*광고 */
.root section{
  width: 100vw;
  height: 20vw;
  display: flex;
 
}
/*광고 전체*/
.root > section div {
  width: 100vw;
  height: 20vh;
 
}
/*광고 이미지*/

.root >section img{
  width: 100vw;
  height: 20vh;
}

/*메인 */
.container{
  width: 100vw;
  height: 100vh;

}

/*메인 첫번째 박스 */
.container div{
width: 100vw;
height: 60vh;
border: 1px solid black;

}
/* 메인 첫번째 타이틀 */
.container div:nth-child(1){
  width: 100vw;
  height: 10vh;
  background-color: var(--color-1);
}
.container div:nth-child(1) p{
  width: 20vw;
  height: 5vh;
  background-color: #ffff;
  margin: 8px 4px;
  text-align: center;
  
  color: #854500;
}

/*박스 요소*/
.container div:nth-child(2){
  width: 100vw;
  height: 30vh;
  border: 1px solid black;

  display: flex;
   margin-top: 2vw;
}

.container div:nth-child(2) p{
  width: 20vw;
  height:30vh;
  border: 1px solid black;
}

.container div:nth-child(3){
  width: 100vw;
  height: 30vh;
  border: 1px solid black;

  display: flex;
}

.container div:nth-child(3) p{
  width: 25vw;
  height:30vh;
  border: 1px solid black;
}


/*두번째 메인 */
.container-1{
  width: 100vw;
  height: 50vh;
  border: 1px solid black;
  margin-top:6vh
}

